<?xml version="1.0"?>
<ruleset name="Zanjir">
	<description>PHPCS ruleset for Zanjir plugin.</description>

	<arg name="basepath" value="."/>
	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="WordPress-VIP"/>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>
</ruleset>
